/htdocs/vendor/
.php~
/nbproject/
/.idea/
/htdocs/ezpublish/cache/
/htdocs/ezpublish_legacy
/htdocs/ezpublish/config/parameters.yml
/htdocs/ezpublish/config/ezpublish_prod.yml
/htdocs/ezpublish/config/ezpublish_dev.yml
/htdocs/web/index_treemenu.php
/htdocs/web/index_rest.php
/htdocs/web/index_cluster.php
/htdocs/web/bundles/
/htdocs/web/design
/htdocs/web/extension
/htdocs/web/share
/htdocs/web/var
/htdocs/web/.htaccess
/htdocs/composer.phar
