a { color: #FF8416; font-family: "Montserrat-Regular"; }
a:hover { color: #CD6A12; text-decoration: none; }
body { color: #414141; }
h1, h2, h3, h4, h5, h6 { font-family: "Montserrat-Regular"; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { color: #FF8416; }

/** MAIN HEADER **/
header.main-header { margin-top: 20px; }
header .header-image {
    height: auto;
    margin-bottom:30px;
    margin-top: 20px;
}

/** FEATURE ARTICLES **/
.container .carousel-inner .item {
	height: 300px; 
	margin-top: 20px;
	margin-bottom: 30px; 
	padding: 20px 120px;
}
.carousel div.item-content { width: 700px; overflow: hidden; display: block; line-height: 300px; }
.carousel article { line-height: 260px }

.carousel-control { height: 60px; width: 30px; opacity: .1; background-color: transparent; border: 0px; border-radius: 0px; }
.carousel-control:hover { opacity: .25; cursor: pointer; }
.carousel-control.left { 
	background-image: url(/design/standard/images/arrow.png);
	margin-left: 10px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.carousel .carousel-control.right { 
	margin-left: 900px;
	background-image: url(/design/standard/images/arrow.png);
}

		/** --Text-- **/
.carousel-inner h2 { font-size: 26px; margin-top: 0px; }
.carousel p { line-height: 20px; text-align: justify; }

		/** --'Read More' Buttons-- **/
.carousel #idc-container-parent { float: left; margin-top: 15px; width: 125px; line-height: 30px; }
.carousel #idc-container-parent .idc-c-b #IDNewThreadSubmitLI { 
	background-color: #FFF; border-color: #FFF; text-align: center; 
}
.carousel #idc-container-parent .idc-c-b #IDNewThreadSubmitLI:hover { 
	background-color: #414141; border-color: #414141; cursor: pointer; 
}
.carousel #idc-container-parent .idc-c-b #IDNewThreadSubmitLI:hover span { color: #FFF; }
.carousel #idc-container-parent a { color: #414141; padding:6px 15px; text-align: center; }
.carousel #idc-container-parent span { line-height: 30px; width: 125px; }

.carousel .with-image .ezimage-field { 
	margin: 0px; 
	float: right; 
	width: 28%;
	line-height: 260px;
}
.carousel .with-image article { float: left; width: 68%; }




/** PAGE TITLE - LOGO **/
.main-header .container.title { 
    background-image: url(/design/standard/images/logo.png);
    background-repeat:no-repeat;
    background-position:left top;
    background-size: auto 50px; 
}

/** TOP NAVBAR **/
.navbar { float: right; margin: 0px; }
.navbar .container { width: 940px; }

.navbar .nav { 
    margin: 0px; 
    font-family: "Montserrat-Regular"; 
    font-size: 12px;
    text-transform: uppercase; 
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	background-color: transparent;
	box-shadow: 0px 0px 0px;
	font-family: "Montserrat-Bold";
	color: #414141;
}

.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover {
	color: #414141;
}

.navbar .nav > li:last-child > a { padding-right: 0; }
.navbar .nav > li > a { padding: 15px 15px; color: #BCBCBC; }

/** SIDEBAR **/
.well { 
	background-color: transparent;
	border: 0px;
}

.nav-header{
	color: #414141;
	font-family: "Montserrat-Bold";
	font-size: 12px;
}

.nav li.divider { display: none; }

.nav > li > a:hover { 
	background-color: #FFF; 
	color: #CD6A12;
	border-radius: 5px;
}

.nav-list > .active > a, 
.nav-list > .active > a:hover { 
	background-color: #FF8416;
	border-radius: 5px;
	text-shadow: 0 0 0;
}

/** HOMEPAGE HEX LINKS **/
#hex-links { width: 780px; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 4em; }
.hex-link { height: auto; width: 190px; }
#articles { float: left; }
#links { float: right; }
.text-link { font-family: "Montserrat-Regular"; text-transform: uppercase; color: #BCBCBC; margin-top: 1em; }
.hex-link:hover .text-link { color: #414141; }

/** COMMENTS SECTION **/
#idc-container-parent #idc-container div div div#idc-sortLinks { text-transform: uppercase; font-size: 12px; }

#idc-container-parent #idc-container .idc-btn_l span:hover, 
#idc-container-parent #idc-container .idc-btn_s span:hover {
	color: #414141;
}


/**
#idc-container-parent #IDCommentsNewThreadCover .idc-thread {   }

#idc-container-parent .idc-c-m.idc-signup { position: absolute; margin-top: -300px; }
#idc-container-parent .idc-c-m.idc-signup #IDCColumnEmailLabel { margin-top: 60px; margin-left: -33%; }
#idc-container-parent .idc-c-m.idc-signup #IDCColumnURLLabel { margin-top: 120px; margin-left: -33%; }

#idc-container-parent .idc-c-m.idc-signup #IDCColumnEmailName { position: absolute; top: -100; z-index: 20; }
#idc-container-parent .idc-c-m.idc-signup #IDCColumnEmailReply { margin-top: 50px; margin-left: -33%; }
#idc-container-parent .idc-c-m.idc-signup #IDCColumnURL { margin-top: 100px; margin-left: -33%; }

#idc-container-parent #idc-container textarea.idc-text_noresize { position: static; margin-top: 200px; }

#idc-container-parent #idc-container .idc-loginbtn_wordpress, 
#idc-container-parent #idc-container .idc-loginbtn_intensedebate, 
#idc-container-parent #idc-container .idc-loginbtn_twitter, 
#idc-container-parent #idc-container .idc-loginbtn_openid {
	-background: url(/design/standard/images/logo.png) no-repeat 0 0;
}**/

/** FOOTER **/
.footer {
	background-color: #B4B4B4;
	margin-top: 5em;
}

.footer .ezxmltext-field{
	background-image: url(/design/standard/images/footer-logo.png);
	background-repeat: no-repeat;
	height: 100px;
	width: 940px;
	background-position: left center;
	margin-right: auto;
 	margin-left: auto;
}

.footer .ezxmltext-field p {
	margin: 40px 0px;
	float: right;
	color: #FFF;
}

.footer .ezxmltext-field p a { color: #FFF; }
.footer .ezxmltext-field p a:hover { color: #414141; }

/** SYNTAX HIGHLIGHTER **/
div.syntaxhighlighter { border: #E2E2E2 1px solid; }
div.toolbar { display: none;}

/** BUTTONS **/
.button { margin-bottom: 30px; margin-top: 15px;}
.button .idc-r { width: auto; line-height: 26px; }
.button div { text-align: center; }
.button .idc-right { width: 125px; text-align: center; cursor: pointer; }
.button .idc-right a { padding: 6px 15px; }
.button .idc-c-b { width: 125px; margin: 0px auto; }


	/*  Oragne Submit Buttom  */
#idc-container-parent #idc-container .idc-btn_l span, 
#idc-container-parent #idc-container .idc-btn_s span {
	background: #FFF;
	color: #FF8416;
	font-family: "Montserrat-Regular";
	text-transform: uppercase;
}

#idc-container-parent .idc-c-b #IDNewThreadSubmitLI  {
	border: 2px #FF8416 solid;
	border-radius: 5px;
}

#idc-container-parent .idc-c-b #IDNewThreadSubmitLI:hover,
#idc-container-parent .idc-c-b #IDNewThreadSubmitLI:hover span { color: #414141; border-color: #414141; }

	/*  White Pop Message Button  */
#idc-container-parent #idc-container .idc-btn_s,
#idc-container-parent #idc-container .idc-btn_l { border-radius: 5px; background-color: #FFF; background-clip: 100% }

#idc-container-parent #idc-container .idc-btn_s:hover,
#idc-container-parent #idc-container .idc-btn_l:hover { background-color: #414141; }

#idc-container-parent #idc-container #IDCommentPopup .idc-btn_s span,
#idc-container-parent #idc-container #IDCommentsHead .idc-btn_l span { background-color: transparent; color: #414141; }

#idc-container-parent #idc-container #IDCommentPopup .idc-btn_s:hover span,
#idc-container-parent #idc-container #IDCommentsHead .idc-btn_l:hover span { color: #FFF; }

/** FONTS **/
@font-face {
    font-family: "Montserrat-Regular";
    src: url(/design/standard/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    }

@font-face {
    font-family: "Montserrat-Bold";
    src: url(/design/standard/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
}





